*{
  box-sizing:border-box;
  margin: 0;
  padding: o;
  font-family: 'Montserrat',sans-serif;
}
.flexContainer {
  display: flex;
  width: 20%;
  top: 50px;
}

.container {
  position: relative;
  flex: 1;
}

.container2 {
  position: relative;
  flex: 2;
}

.Images {
  background: white;
  margin: auto;
  padding: 10px;
  width: 250px;
}

.text {
  color: black;
  font-size: 20px;
  position: center;
}
