.home {
  background: url(./components/Images/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center; 
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position:absolute;
  width:100%;
  height:100%;
  overflow: scroll;
  font-family: 'Scout', arial, sans-serif;
}

.flex-container1 {
    display: flex;
    align-items: stretch;
  }
  
  .flex-container1>div {
    color: white;
    margin-top: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    color: black;
  }

.viewprofilehr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.viewattendancehr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.viewmissingdayshourshr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.viewschedulehr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.signinhr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

.signinhrimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.signouthr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

.signouthrimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.flex-container2 {
  display: flex;
  align-items: stretch;
}

.flex-container2>button {
  color: white;
  width: 20%;
  margin-top: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
  color: black;
}